@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap");

.location-cards {
  padding: 0rem 4rem;
  background: transparent;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.location-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.location-wrapper {
  margin: 30px 0 45px;
}

.backgroung-locations-image {
  position: fixed;
  width: 100vw;
}

.single-location {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5px;
  width: 400px;
  height: 80px;
  background-color: rgb(11, 70, 118);
  margin-bottom: 10px;
  border-radius: 20px;
  z-index: 1;
}

.text-location {
  font-size: 17px;
  margin: 0px;
  color: aliceblue;
  font-family: "Saira Condensed", sans-serif;
}

.location-header {
  padding-top: 100px;
  -webkit-text-stroke: 2px black;
  font-size: 50px;
  color: white;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1650px) {
  .location-table {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1400px) {
  .location-table {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1000px) {
  .location-table {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  .location-table {
    grid-template-columns: repeat(1, 1fr);
  }
}
