<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TheGaurdian</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <img class="backgroud-img" src="/images/background.jpg" alt="background" />
    <div class="box-container">
      <h2>Your code is:</h2>
      <p><%= userId %></p>
    </div>
    <img class="logo-img" src="/images/logo.png" alt="logo" />
  </body>
</html>
